name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build parser with Maven
      run: mvn -B clean install --file submodules/fix-parser/pom.xml

    - name: Build with Maven
      run: mvn spotless:check
        | mvn -B package --file pom.xml

#    - name: Run benchmarks
#      run: java -jar fix-benchmark/target/fix-benchmark-1.0-SNAPSHOT.jar